<div class="container">
  <h3>Spring Boot Admin Panel</h3>
  <div>
  <sba-info-panel panel-title="Add users">
    <form name="userForm" ng-submit="addUser()">
      <input type="hidden" ng-model="user.id" />
      <input name="username" type="text" class="input-xlarge" ng-model="user.userName" placeholder="user name"
             required/>
      <input name="password" type="password" class="input-xlarge" ng-model="user.password" placeholder="password"
             required/>
      <input name="email" type="email" ng-model="user.email" placeholder="user email" required/>
      <span ng-show="!userForm.email.$valid">Email is not valid!</span>
      <input type="submit"  value="Add user" class="btn btn-primary btn-sm" ng-disabled="userForm.$invalid">
    </form>

  </sba-info-panel>
    <sba-info-panel panel-title="Registered users">
      <ul>
        <li ng-repeat="user in users">
          username: {{user.userName}} - email: {{user.email}}
        </li>
      </ul>
    </sba-info-panel>

    <sba-info-panel panel-title="Registered applications">
      <ul>
        <li ng-repeat="application in applications">
          {{application.applicationName}}
        </li>
      </ul>
    </sba-info-panel>
  </div>
</div>